@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@600&display=swap');

* {
    box sizing: border-box;
    font-family: 'Urbanist', sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
}

.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: 1.5em;
    color: white;
    text-decoration: none;
}

.main-nav {
    text-align: center;
    font-size: 1em;
    font-weight: lighter;
    border-bottom: 1px solid #777;
    border: 1px;
}

.main-nav li {
    padding: 0 5%;
}

.main-header {
    background-image: url(https://rawcdn.githack.com/4060269/NgunnawalCountryWebDev/acd81713929e874598bffc8d20f2ed3be696c257/Images/Ngunnawal-country-banner.png);
    background-position: 100% 100%;
    background-size: contain;
    padding-bottom: 30px;
}

.company-name {
    text-align: center;
    color: whitesmoke;
    font-family: 'Azeret Mono', monospace;
    margin: 0;
    font-size: 3em;
}

.company-name-large {
    font-size: 4em;
}

.content-section {
    margin: 1em;

}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 6em;
}

.section-header {
    font-family: 'Azeret Mono', monospace;
    color: whitesmoke;
    text-decoration: none;
    text-align: center;
    font-size: 2.5em;
}

.about-img {
    float: left;
    width: 20%;
    height: 100%;
    margin: 15px;
    border-radius: 20%;
}

.main-footer {
    background-color: #ac5c34;
    color: White;
    padding: .25em 0;
}

.main-footer-container {
    display: flex;
    align-items: center;
}

.main-footer-container ul {
    flex-grow: 1;
    text-align: right;
}

.footer-nav li {
    padding: 0 .5em;
}

.footer-nav img {
    width: 60px;
    height: 38px;
}

.btn {
    color: whitesmoke;
    background-color: #ac5c34;
    text-align: center;
    vertical-align: middle;
    padding: .67em;
    cursor: pointer;
}

body {
    background-color: #121212;
    color: whitesmoke;

}

.search-box-text {
    color: whitesmoke;
}

.text-box {
    background-color: #ac5c34;

}

.btn:hover {
    background-color: blue;
}