{% extends 'template.html' %}

{# Place the content for the cellContent1 in this block #}
{% block cellContent1 %}
<h2 class="section-header">Contact Messages</h2>
{% endblock %}

{# Place the content for the cellContent2 in this block #}
{% block cellContent2 %}
    {% for message in messages %}
        <div> {{ message.name }} </div>
        <div> {{ message.email }} </div>
        <div> {{ message.message }} </div>
        <div> {{ message.dateSubmitted }} </div>
    {% endfor %}
{% endblock %}

{# Place the content for the cellContent3 in this block #}
{% block cellContent3 %}
{% endblock %}