{% extends 'template.html' %}

{% block cellContent1 %}
    <h2 class="section-header">Company Gallery</h2>
{% endblock %}

{% block cellContent2 %}
    <!--suppress Annotator -->
    <div class="slideshow-container">

        <div class="mySlides">
            <div class="text"><h3 class="section-header" style="font-size: 1.2rem">Ngunnawal Country Colours</h3>
                <img src="/static/Images/Content/ngunnawal-country-colours.png" style="width:100%">
            </div>
        </div>
        <br>
        <br>
        <div class="mySlides">
            <div
                    class="text"><h3 class="section-header" style="font-size: 1.2rem">Bridge over Ginnindera Creek</h3>
            </div>
            <img src="/static/Images/Content/ngunnawal-spelio.png" style="width:100%">
        </div>
        <br>
        <br>
        <div class="mySlides">
            <div
                    class="text"><h3 class="section-header" style="font-size: 1.2rem">Ngunnawal malunggari bulu</h3>
            </div>
            <img src="/static/Images/Content/ngunnawal-pierre-pouliquin.jpg" style="width:100%">
        </div>
        <br>
        <br>
    </div>
{% endblock %}