{% extends 'template.html' %}

{% block cellContent1 %}
    <h2 class="section-header">Gallery</h2>
{% endblock %}

{% block cellContent2 %}
    {% if user.is_anonymous %}
        User photos unavailibe, please register to see, they should still see company submitted photos
    {% else %}
        {% for image in images %}
            <div>{{ image.title }}<br>
                <img src="/static/Images/UserImages/{{ image.filename }}" width="20%"></div>
        {% endfor %}
    {% endif %}
{% endblock %}