{% extends 'template.html' %}

{# Place the content for the cellContent1 in this block #}
{% block cellContent1 %}
    <h2 class="section-header">History</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dignissim
      mattis diam, quis varius odio tristique mattis. Duis vitae turpis
      vestibulum, pulvinar ante in, vehicula dolor. In ultricies diam arcu, sit
      amet aliquam massa dictum id. Sed porttitor vulputate justo. Sed vel nisl
      at purus bibendum ultricies. Sed mauris quam, consectetur vehicula purus
      in, vestibulum ornare magna. Pellentesque ac condimentum magna, ac
      lobortis felis. Suspendisse potenti. Sed efficitur elementum dignissim.
      Nulla congue tellus et diam pulvinar blandit in a metus. Morbi aliquam
      lacus feugiat dui dapibus sollicitudin. Proin aliquet sodales auctor.
      Nullam in justo ac eros mollis commodo. Maecenas laoreet ante eu lacus
      iaculis, vitae posuere risus commodo. Curabitur vel congue mauris, nec
      sollicitudin libero. In est justo, tempor eget purus ac, ultricies
      vulputate felis.
    </p>
{% endblock %}

{# Place the content for the cellContent2 in this block #}
{% block cellContent2 %}
    <p>
      Fusce sed est suscipit, consectetur lectus non, semper nulla. Praesent
      porta gravida diam, sit amet malesuada dolor commodo ac. Praesent sem
      lectus, elementum eget ipsum ut, consectetur rutrum leo. Orci varius
      natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
      Mauris aliquet tellus quis magna molestie dapibus ut sit amet purus. Morbi
      varius scelerisque quam non varius. Nunc ut blandit risus.
    </p>
{% endblock %}

{# Place the content for the cellContent3 in this block #}
{% block cellContent3 %}
    Footer
{% endblock %}