{% extends 'template.html' %}
<!-- This makes this page a Jinja template, all we have to do now is add what we want in the main sections,
 set the headers and titles or even pass them through -->

{% block cellContent1 %}
    <h2 class="section-header">Home</h2>
{% endblock %}

{% block cellContent2 %}
    Normal User
    <br>
    Email: guest@guest.com
    <br>
    Password: guest
    <br>
    <br>
    Administrator
    <br>
    Email: admin@admin.com
    <br>
    Password: admin
{% endblock %}