{% extends 'template.html' %}

{% block cellContent1 %}
    <h2 class="section-header">Login</h2>
{% endblock %}

{% block cellContent2 %}
    <form action="" method="post">
        {{ form.hidden_tag() }}

        <p>
            {{ form.email_address.label }}<br>
            {{ form.email_address(size=64) }}<br>
            {% for error in form.email_address.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p> {{ form.submit }} </p>
    </form>
{% endblock %}