{% extends 'template.html' %}

{% block cellContent1 %}
    <!--suppress ALL -->
    <h2 class="section-header">To Do List</h2>
{% endblock %}

{% block cellContent2 %}
    <p>
    <form method="POST" action="/todo">
        <input class="text-box" type="text" name="text" placeholder="Add a new item">
        <br>
        <br>
        <button class="btn" type="submit" value="update">Create new Todo Entry</button>
    </form>
    </p>
    <br>
    <br>

    {% for todo in todos %}
        <p>
        <form method="POST" action="/todoedit/{{ todo.id }}">
            <input type="hidden" name="done" value="off">
            <input type="checkbox" onclick="redirect('/todoedit/{{ todo.id }}')"
                   data-target="/todoedit/{{ todo.id }}"
                   name="done">
            <input class="text-box form-control" type="text" title="{{ todo.dateAdded }}" value="{{ todo.text }}" name="text">
            <br>
            <br>
            <button class="btn" type="submit" value="update">Update</button>
        </form>
        </p>

        <p>
        <form method="GET" action="/todoedit/{{ todo.id }}">
            <button class="btn" type="submit" value="delete">Delete</button>
        </form>
        </p>
        <!-- Same as other forms except, each to-do item has its own ID, this needs to be referred to -->
    {% endfor %}
{% endblock %}